nav {
    text-align: right;
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.searchbar {
    /* how big is search bar */
    width: 30%;
    margin: auto;

    /* center search bar horizontally and vertically */
    position: absolute;
    left: 50%;
    top: 35%;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
}

form {
    text-align: center;
    width: 100%;
    display: block;
}

#search {
    width: 100%;
    background-color:black;
    color: white;
    border: 1px solid rgb(82, 81, 81);
    border-radius: 20px;
    height: 40px;
    background-image: url(./Images/lupe17.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1%;
    padding-left: 50px;
}

#search:click {
    text-decoration: none;
}

#left {
    float: left;
    width: 48%;
}

#right {
    float: right;
    width: 48%;
}

.button {
    background-color: rgb(82, 81, 81);
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
}

#buttons-div {
    width: 60%;
    margin: auto;
}

.logo {
    margin: auto;
    height: 200px;
    display: block;
}

.advanced {
    background-color: rgb(55, 127, 236);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;  
}

*:focus {
    outline: none;
}

/* advanced search */
#image {
    width: 48%;
}

#logo_adv {
    height: 100px;
}

h2 {
    color: red
    ;
}

h4 {
    color: white;
}

label {
    color: white;
    display: inline-block;
}

/* Clear floats after the columns */
.line:after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  * {
    box-sizing: border-box;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }
}

#adv_sub {
    float: right;
}

.inpt {
    width: 100%;
    resize: vertical;
    
}